/*
    COLORS
    Black: #082032 | rgb(8, 32, 50)
    Navy dark: #2C394B | rgb(44, 57, 75)
    Navy light: #334756 | rgb(51, 71, 86)
    Orange: #FF4C29 | rgb(255, 76, 41)
*/

* {
  margin: 0;
  padding: 0;
}
#titulo {
  font-family: sans-serif;
  color: #ff4c29;
  margin-left: 7%;
}
#subtitulo {
  font-family: sans-serif;
  color: #ff4c29;
  margin-left: 10%;
}
fieldset {
  border: 0;
}
body {
  background-color: #082032;
  font-family: sans-serif;
  font-size: 1em;
  color: #ff4c29;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}
input,
select,
textarea,
button {
  border-radius: 5px;
}
.campo {
  margin-bottom: 1em;
}
.campo label {
  margin-bottom: 0.2em;
  color: #ff4c29;
  display: block;
}
fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}
.campo input[type='text'],
.campo input[type='email'],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #ff4c29;
  box-shadow: 2px 2px 2px rgba(44, 57, 75, 0.2);
  display: block;
}
.campo select option {
  padding-right: 1em;
}
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background: #7c90a0;
}
.botao {
  font-size: 1.2em;
  background: #ff4c29;
  border: 0;
  margin-bottom: 1em;
  color: #082032;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(44, 57, 75, 0.2);
  text-shadow: 1px 1px 1px rgb(8, 32, 50, 0.5);
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.botao:hover {
  background-color: #7c90a0;
  box-shadow: inset 2px 2px 2px rgba(44, 57, 75, 0.2);
  text-shadow: none;
  color: #082032;
}
#check {
  display: inline-block;
}
